html {
    font-size: 62.5%;
}

body {
    background-color: antiquewhite;
}

header h3 {
    font-size: 2.4rem;
    margin-left: 1.8rem;
}

body .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

body .container .grid-container {
    display: grid;
    width: 72rem;
    margin: 1rem;
    grid-template-columns: 1fr 3fr;
    background-color: #3e2723;
    padding: 1rem;
    border-radius: 1rem;
}

body .container .grid-container .grid-item {
    background-color: #80cbc4;
    border: 0.1rem solid #fff;
    padding: 2rem;
    font-size: 2.4rem;
    align-self: stretch;
}

body .container .grid-container.gc2 {
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 1fr;  
}

.button.return-button {
    background-color: #80cbc4;
    border-radius: 1rem;
    border: 0.5rem solid #3e2723;
    color: black;
    padding: 1.2rem 2.4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    margin: 2rem 45rem;
    cursor: pointer;
}

.form-item {
    width: 100%;
}